@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

body {
    font-family: 'Ubuntu', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 400;
}

.product-picture {
    float: left;
    height: 200px;
    margin-left: 15px;
    margin-right: 10px;
}

#votes{
    position: relative;
    right: -25px;
    top: 50px
}

.arrow {
    height: 24px;
}

#comment {
    margin-right: 50px;
}

#author {
    font-style: italic;
}

#vote-amount {
    margin-left: 6px;
}

form {
    position: relative;

}

section {
    padding: 1em;
}